body{
    background-color: rgb(148, 140, 140);
    font-size: 20px;
    font-family: Meiryo;     
}

p.first { 
    background: #7a7a81;
    font-family: Meiryo;
    font-size: 90px;
    border: 1px solid #cccccc;
    margin: 35px auto;
    text-align: center;
}

p {color: rgb(10, 10, 10); 
    font-family: fantasy;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
}

#mainArea{

    border : solid 4px;
    text-align: center;
    margin: 20px auto;

}

#mainArea img {
    width: 30%;
}

p.lead{
    font-style: italic;
    font-size: 35px;
    text-align: left;
}

.visitseminar p {
    background: #7a7a81;
    font-family: Meiryo;
    border: 1px solid #cccccc;
    margin: 35px auto;
    text-align: center;
}

.box10 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #343b3b;
    background: #e4fcff;/*背景色*/
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(121, 97, 97, 0.32);/*影*/
    width: 1200px;
    padding: 10px;
    
    margin: 35px auto;
    
    
    
    
}


.box10 img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    right: 400px;
    
}

.links {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #343b3b;
    background: #e4fcff;/*背景色*/
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(121, 97, 97, 0.32);/*影*/
    width: 1200px;
    padding: 10px;
    
    margin: 35px auto;
}

p.links{
    font-size: xx-large;
}
.warning {
    
    color: #f1e209;
    background: #e2fa0c;/*背景色*/
    border-top: solid 30px #f81111;
    width: 1200px;
    padding: 10px;
    margin: 35px auto;
    text-align: center;
    

}

.warning p {
    color: red;
}

